.home-title {
  text-align: center;
  height: 30vh;
  line-height: 8vh;
  font-size: 8vh;
  font-variant: small-caps;
  font-weight: bold;
  padding: 5vh 0;
  z-index: 1000;
  margin-bottom: 10vh;
}

.fa-stack {
  font-size: 50%;
  margin-bottom: 2vh;
}

.fa-star {
  text-shadow: 0 0 1vw white;
}

.fa-bullseye {
  padding-top: 0.5vh;
  color: darkred;
}

.aa {
  color: darkred;
}

.vl {
  font-weight: normal;
}

div#divPuns {
  padding: 2vw 0;
  border: 1px dashed gray;
}