<div class="background-home"></div>
<div class="home-background"></div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="home-title text-light">
        <span class="fa-stack">
          <i class="fa fa-star fa-stack-2x"></i>
          <i class="fa fa-bullseye fa-stack-1x"></i>
        </span>
        Sch<span class="vl">|</span>p<span class="vl">|</span><span class="aa">a</span>pps
      </div>
    </div>
  </div>
  <app-puns></app-puns>
  <app-signin></app-signin>
</div>
