<form (ngSubmit)="onSignin(f)"
      #f="ngForm">
  <div class="row">
    <div class="col-12 col-sm-10 offset-sm-1 col-md-6 offset-md-3">
      <div class="form-group">
        <label for="email"><span class="capital">A</span>dresse email</label>
        <input type="email"
               class="form-control"
               id="email"
               name="email"
               required
               email
               ngModel>
        <span class="help-block text-danger"
              *ngIf="isEmailInvalid(f)">
          Entrez un format d'adresse valide
        </span>
      </div>
      <div class="form-group">
        <label for="password"><span class="capital">M</span>ot de passe</label>
        <input type="password"
               class="form-control"
               id="password"
               name="password"
               required
               ngModel>
        <span class="help-block text-danger"
              *ngIf="isPasswordInvalid(f)">
          Entrez un mot de passe
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 col-sm-5 offset-sm-1 col-md-3 offset-md-3 d-flex">
      <button type="submit"
              class="btn btn-dark"
              [disabled]="!f.valid">Se connecter</button>
    </div>
    <div class="col-6 col-sm-5 col-md-3 d-flex justify-content-end">
      <button type="button"
              class="btn btn-outline-secondary justify-content-end"
              (click)="onSigninAsGuest()">
        Se connecter en tant qu'Invité<br><span class="consult-info">(consultation uniquement)</span>
      </button>
    </div>
  </div>
</form>
