<footer class="footer text-muted">
  <div class="container">
    <div class="row">
      <div class="col d-flex justify-content-right">
        <span class="footer-author"><i class="far fa-copyright"></i>Jérémy FIEGEL</span>
      </div>
      <div class="col d-flex justify-content-end">
        <a href="mailto:nightwishpower@hotmail.fr?subject=[Schpapps]"
           target="_blank"><i class="fas fa-envelope fa-lg"></i></a>|
        <a href="https://www.facebook.com/jeremy.fiegel1"
           target="_blank"><i class="fab fa-facebook-f fa-lg"></i></a>|
        <a href="https://www.linkedin.com/in/j%C3%A9r%C3%A9my-fiegel/"
           target="_blank"><i class="fab fa-linkedin-in fa-lg"></i></a>|
        <a href="https://github.com/Fiegel"
           target="_blank"><i class="fab fa-github fa-lg"></i></a>
      </div>
    </div>
  </div>
</footer>
