<footer class="footer text-dark">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <button type="button"
                class="btn btn-outline-dark btn-sm btn-circle"><i class="fa fa-facebook fa-lg fa-fw"></i></button>
        <button type="button"
                class="btn btn-outline-dark btn-sm btn-circle"><i class="fa fa-linkedin fa-lg fa-fw"></i></button>
        <button type="button"
                class="btn btn-outline-dark btn-sm btn-circle"><i class="fa fa-github fa-lg fa-fw"></i></button>
      </div>
    </div>
  </div>
</footer>
