.modal-content {
  background-color: #f8d7da;
}

.modal-content, .modal-header, .modal-body, .modal-footer {
  border-color: #f5c6cb;
}

.btn-danger {
  background-color: #721c24;
  border-color: #721c24;
}

button>.fa-times {
  margin-right: 5px;
}