<div class="special-background">
  <div class="row">
    <div class="col-4 col-md-3 col-sm-3 d-flex">
      <button type="button"
              class="btn btn-primary btn-block"
              title="Ajouter une personne"
              (click)="onPersonEditClick()"
              [disabled]="showPersonEdit">
        <i class="fas fa-user-plus"></i><span class="d-none d-md-inline"> Ajouter une personne</span>
      </button>
    </div>
    <div class="col-4 col-md-3 col-sm-3 d-flex">
      <button type="button"
              class="btn btn-primary btn-block"
              title="Ajouter une famille (union, enfants, etc.)"
              (click)="onFamilyEditClick()"
              [disabled]="showFamilyEdit">
        <i class="fas fa-users"></i><span class="d-none d-md-inline"> Ajouter une famille</span>
      </button>
    </div>
    <div class="col-4 col-md-3 col-sm-3 d-flex">
      <label class="btn btn-dark btn-block"
             title="Charger un fichier GEDCOM contenant un arbre généalogique"
             for="gedFileInput">
        <input id="gedFileInput"
               type="file"
               accept=".ged, .GED"
               (change)="onGedFileSelected($event)">
        <i class="fas fa-file-upload"></i><span class="d-none d-md-inline"> Charger un fichier .GED</span>
      </label>
    </div>
  </div>

  <form (ngSubmit)="onPersonSubmit(formPerson)"
        #formPerson="ngForm"
        *ngIf="showPersonEdit">
    <div class="row">
      <div class="col-11 d-flex">
        <h4>Création d'une nouvelle personne</h4>
      </div>
      <div class="col-1 d-flex justify-content-end">
        <a class="btn-close-form"
           (click)="onPersonEditClick()"><i class="fas fa-times"></i></a>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 form-group">
        <label for="lastname">Nom</label>
        <input type="text"
               id="lastname"
               class="form-control"
               name="lastname"
               ngModel>
      </div>
      <div class="col-12 col-sm-6 form-group">
        <label for="firstname">Prénom(s)</label>
        <input type="text"
               id="firstname"
               class="form-control"
               name="firstname"
               ngModel>
      </div>
    </div>
    <div class="row">
      <div class="col-12 form-group">
        <label for="gender">Sexe</label><br>
        <div class="btn-group"
             name="gender"
             btnRadioGroup
             ngModel>
          <label class="btn"
                 [ngClass]="{ 'btn-primary': !isGenderMaleRadioActive, 'btn-dark active': isGenderMaleRadioActive }"
                 id="genderMale"
                 value="M"
                 btnRadio="M"
                 role="button"
                 (click)="onGenderRadioClick($event)">
            <span class="d-inline d-sm-none">H</span>
            <span class="d-none d-sm-inline"><i class="fas fa-mars d-none d-sm-inline"></i> Homme</span></label>
          <label class="btn"
                 [ngClass]="{ 'btn-primary': !isGenderFemaleRadioActive, 'btn-dark active': isGenderFemaleRadioActive }"
                 id="genderFemale"
                 value="F"
                 btnRadio="F"
                 role="button"
                 (click)="onGenderRadioClick($event)">
            <span class="d-inline d-sm-none">F</span>
            <span class="d-none d-sm-inline"><i class="fas fa-venus d-none d-sm-inline"></i> Femme</span></label>
          <label class="btn"
                 [ngClass]="{ 'btn-primary': !isGenderUnknownRadioActive, 'btn-dark active': isGenderUnknownRadioActive }"
                 id="genderUnknown"
                 value="?"
                 btnRadio="?"
                 role="button"
                 (click)="onGenderRadioClick($event)">
            <span class="d-inline d-sm-none">?</span>
            <span class="d-none d-sm-inline"><i class="fas fa-venus-mars d-none d-sm-inline"></i> Inconnu</span></label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 form-group">
        <label for="birthDate">Date de naissance</label>
        <div class="input-group">
          <input type="text"
                 id="birthDate"
                 class="form-control"
                 name="birthDate"
                 bsDatepicker
                 [bsConfig]="bsConfig"
                 [isOpen]="isBirthCalendarOpen"
                 ngModel>
          <div class="input-group-append">
            <button class="btn btn-primary"
                    (click)="isBirthCalendarOpen = !isBirthCalendarOpen"><i class="far fa-calendar-alt"></i></button>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 form-group">
        <label for="birthPlace">Lieu de naissance</label>
        <input type="text"
               id="birthPlace"
               class="form-control"
               name="birthPlace"
               ngModel>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 form-group">
        <label for="deathDate">Date de décès</label>
        <div class="input-group">
          <input type="text"
                 id="deathDate"
                 class="form-control"
                 name="deathDate"
                 bsDatepicker
                 [bsConfig]="bsConfig"
                 [isOpen]="isDeathCalendarOpen"
                 ngModel>
          <div class="input-group-append">
            <button class="btn btn-primary"
                    (click)="isDeathCalendarOpen = !isDeathCalendarOpen"><i class="far fa-calendar-alt"></i></button>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 form-group">
        <label for="deathPlace">Lieu de décès</label>
        <input type="text"
               id="deathPlace"
               class="form-control"
               name="deathPlace"
               ngModel>
      </div>
    </div>
    <div class="row">
      <div class="col-12 form-group">
        <label for="note">Notes</label>
        <textarea class="form-control"
                  name="note"
                  id="note"
                  rows="3"
                  ngModel></textarea>
      </div>
    </div>
    <div class="row form-footer">
      <div class="col d-flex">
        <button type="submit"
                class="btn btn-primary"><i class="fas fa-check"></i> Créer</button>
      </div>
      <div class="col d-flex justify-content-end">
        <button type="button"
                class="btn btn-secondary"><i class="fas fa-times"></i> Effacer</button>
      </div>
    </div>
  </form>

  <form (ngSubmit)="onFamilySubmit(formFamily)"
        #formFamily="ngForm"
        *ngIf="showFamilyEdit">
    <div class="row">
      <div class="col-11 d-flex">
        <h4>Création d'une nouvelle famille</h4>
      </div>
      <div class="col-1 d-flex justify-content-end">
        <a class="btn-close-form"
           (click)="onFamilyEditClick()"><i class="fas fa-times"></i></a>
      </div>
    </div>
    <div class="row">

    </div>
  </form>
</div>
