div.special-background {
  background-color: #ffffffcc;
  border-radius: 10px;
  padding: 2vh 2vw;
}

form {
  margin: 10px 0;
  padding: 10px 0;
  border-top: 1px dashed gray;
}

label {
  margin-bottom: 0;
}

div.d-flex>label>span, div.d-flex>button>span {
  margin-left: 10px;
}

label#genderMale>span, label#genderFemale>span, label#genderUnknown>span {
  pointer-events: none; 
}

input#gedFileInput {
  display:none;
}

div.radio-buttons {
  height: calc(2.25rem + 2px);
}

div.form-footer button {
  width: calc(100px + 1vw);

  i {
    margin-right: 10px;
  }
}
