<div class="special-background">
  <div class="row">
    <div class="col-4 col-md-3 col-sm-3 d-flex">
      <button type="button"
              class="btn btn-primary btn-block"
              title="Ajouter une personne"
              (click)="onPersonEditClick()"
              [disabled]="showPersonEdit">
        <i class="fas fa-user-plus"></i><span class="d-none d-md-inline"> Ajouter une personne</span>
      </button>
    </div>
    <div class="col-4 col-md-3 col-sm-3 d-flex">
      <button type="button"
              class="btn btn-primary btn-block"
              title="Ajouter une famille (union, enfants, etc.)"
              (click)="onFamilyEditClick()"
              [disabled]="showFamilyEdit">
        <i class="fas fa-users"></i><span class="d-none d-md-inline"> Ajouter une famille</span>
      </button>
    </div>
    <div class="col-4 col-md-3 col-sm-3 d-flex">
      <label class="btn btn-dark btn-block"
             title="Charger un fichier GEDCOM contenant un arbre généalogique"
             for="gedFileInput">
        <input id="gedFileInput"
               type="file"
               accept=".ged, .GED"
               (change)="onGedFileSelected($event)">
        <i class="fas fa-file-upload"></i><span class="d-none d-md-inline"> Charger un fichier .GED</span>
      </label>
    </div>
  </div>

  <form (ngSubmit)="onPersonSubmit(formPerson)"
        #formPerson="ngForm"
        *ngIf="showPersonEdit">
    <div class="row">
      <div class="col-12 col-sm-11">
        <h4>Création d'une nouvelle personne</h4>
      </div>
      <div class="col-1 d-none d-sm-inline text-right">
        <a class="btn-close-form"
           (click)="onPersonEditClick()"><i class="fas fa-times"></i></a>
      </div>
    </div>
    <div class="form-row">
      <div class="col-12 col-sm-6 form-group">
        <label for="lastname">Nom</label>
        <input type="text"
               id="lastname"
               class="form-control"
               name="lastname"
               ngModel>
      </div>
      <div class="col-12 col-sm-6 form-group">
        <label for="firstname">Prénom(s)</label>
        <input type="text"
               id="firstname"
               class="form-control"
               name="firstname"
               ngModel>
      </div>
    </div>
    <div class="form-row">
      <div class="col-12 form-group">
        <label for="gender">Sexe</label><br>
        <div class="btn-group"
             name="gender"
             btnRadioGroup
             ngModel>
          <label class="btn"
                 [ngClass]="{ 'btn-primary': !isGenderMaleRadioActive, 'btn-dark active': isGenderMaleRadioActive }"
                 id="genderMale"
                 value="M"
                 btnRadio="M"
                 role="button"
                 (click)="onGenderRadioClick($event)">
            <span class="d-inline d-sm-none">H</span>
            <span class="d-none d-sm-inline"><i class="fas fa-mars d-none d-sm-inline"></i> Homme</span></label>
          <label class="btn"
                 [ngClass]="{ 'btn-primary': !isGenderFemaleRadioActive, 'btn-dark active': isGenderFemaleRadioActive }"
                 id="genderFemale"
                 value="F"
                 btnRadio="F"
                 role="button"
                 (click)="onGenderRadioClick($event)">
            <span class="d-inline d-sm-none">F</span>
            <span class="d-none d-sm-inline"><i class="fas fa-venus d-none d-sm-inline"></i> Femme</span></label>
          <label class="btn"
                 [ngClass]="{ 'btn-primary': !isGenderUnknownRadioActive, 'btn-dark active': isGenderUnknownRadioActive }"
                 id="genderUnknown"
                 value="?"
                 btnRadio="?"
                 role="button"
                 (click)="onGenderRadioClick($event)">
            <span class="d-inline d-sm-none">?</span>
            <span class="d-none d-sm-inline"><i class="fas fa-venus-mars d-none d-sm-inline"></i> Inconnu</span></label>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-12 col-sm-6 form-group">
        <label for="birthDate">Date de naissance</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <select class="custom-select"
                    name="birthDateControl"
                    id="birthDateControl"
                    (change)="onBirthDateControlChange(formPerson, $event.target.value)"
                    [ngModel]="defaultMinMode.value">
              <option *ngFor="let minMode of minModes"
                      [value]="minMode.value">{{ minMode.text }}</option>
            </select>
          </div>
          <input type="text"
                 id="birthDate"
                 class="form-control"
                 name="birthDate"
                 autocomplete="off"
                 bsDatepicker
                 [bsConfig]="birthBsConfig"
                 [isOpen]="isBirthCalendarOpen"
                 (bsValueChange)="isBirthCalendarOpen = false"
                 ngModel>
          <div class="input-group-append">
            <button type="button"
                    class="btn btn-primary"
                    (click)="isBirthCalendarOpen = !isBirthCalendarOpen"><i class="far fa-calendar-alt"></i></button>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 form-group">
        <label for="deathDate">Date de décès</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <select class="custom-select"
                    name="deathDateControl"
                    id="deathDateControl"
                    (change)="onDeathDateControlChange(formPerson, $event.target.value)"
                    [ngModel]="defaultMinMode.value">
              <option *ngFor="let minMode of minModes"
                      [value]="minMode.value">{{ minMode.text }}</option>
            </select>
          </div>
          <input type="text"
                 id="deathDate"
                 class="form-control"
                 name="deathDate"
                 autocomplete="off"
                 bsDatepicker
                 [bsConfig]="deathBsConfig"
                 [isOpen]="isDeathCalendarOpen"
                 (bsValueChange)="isDeathCalendarOpen = false"
                 ngModel>
          <div class="input-group-append">
            <button type="button"
                    class="btn btn-primary"
                    (click)="isDeathCalendarOpen = !isDeathCalendarOpen"><i class="far fa-calendar-alt"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-12">
        <label for="birthPlace">Lieu de naissance</label>
      </div>
    </div>
    <div class="form-row">
      <div class="col-12 col-md-6 col-lg-3 form-group">
        <input type="text"
               id="birthPlaceTown"
               class="form-control"
               name="birthPlaceTown"
               placeholder="Ville"
               ngModel>
      </div>
      <div class="col-12 col-md-6 col-lg-3 form-group">
        <div class="input-group">
          <input type="text"
                 id="birthPlaceCounty"
                 class="form-control"
                 name="birthPlaceCounty"
                 placeholder="Département"
                 autocomplete="off"
                 [typeahead]="franceDepts"
                 typeaheadOptionField="name"
                 [typeaheadScrollable]="true"
                 [typeaheadOptionsInScrollableView]="5"
                 (typeaheadOnSelect)="onCountySelect($event, 'birth', formPerson)"
                 ngModel>
          <div class="input-group-append">
            <input type="text"
                   id="birthPlaceAreaCode"
                   class="form-control"
                   name="birthPlaceAreaCode"
                   placeholder="N°"
                   autocomplete="off"
                   [typeahead]=franceDepts
                   typeaheadOptionField="code"
                   [typeaheadScrollable]="true"
                   [typeaheadOptionsInScrollableView]="5"
                   readonly
                   ngModel>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 form-group">
        <input type="text"
               id="birthPlaceRegion"
               class="form-control"
               name="birthPlaceRegion"
               placeholder="Région"
               autocomplete="off"
               [typeahead]="franceRegions"
               [typeaheadScrollable]="true"
               [typeaheadOptionsInScrollableView]="5"
               ngModel>
      </div>
      <div class="col-12 col-md-6 col-lg-3 form-group">
        <input type="text"
               id="birthPlaceCountry"
               class="form-control"
               name="birthPlaceCountry"
               placeholder="Pays"
               ngModel>
      </div>
    </div>
    <div class="form-row">
      <div class="col-12">
        <label for="deathPlace">Lieu de décès</label>
      </div>
    </div>
    <div class="form-row">
      <div class="col-12 col-md-6 col-lg-3 form-group">
        <input type="text"
               id="deathPlaceTown"
               class="form-control"
               name="deathPlaceTown"
               placeholder="Ville"
               ngModel>
      </div>
      <div class="col-12 col-md-6 col-lg-3 form-group">
        <div class="input-group">
          <input type="text"
                 id="deathPlaceCounty"
                 class="form-control"
                 name="deathPlaceCounty"
                 placeholder="Département"
                 autocomplete="off"
                 [typeahead]="franceDepts"
                 typeaheadOptionField="name"
                 [typeaheadScrollable]="true"
                 [typeaheadOptionsInScrollableView]="5"
                 (typeaheadOnSelect)="onCountySelect($event, 'death', formPerson)"
                 ngModel>
          <div class="input-group-append">
            <input type="text"
                   id="deathPlaceAreaCode"
                   class="form-control"
                   name="deathPlaceAreaCode"
                   placeholder="N°"
                   autocomplete="off"
                   [typeahead]=franceDepts
                   typeaheadOptionField="code"
                   [typeaheadScrollable]="true"
                   [typeaheadOptionsInScrollableView]="5"
                   readonly
                   ngModel>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 form-group">
        <input type="text"
               id="deathPlaceRegion"
               class="form-control"
               name="deathPlaceRegion"
               placeholder="Région"
               autocomplete="off"
               [typeahead]="franceRegions"
               [typeaheadScrollable]="true"
               [typeaheadOptionsInScrollableView]="5"
               ngModel>
      </div>
      <div class="col-12 col-md-6 col-lg-3 form-group">
        <input type="text"
               id="deathPlaceCountry"
               class="form-control"
               name="deathPlaceCountry"
               placeholder="Pays"
               ngModel>
      </div>
    </div>
    <div class="row">
      <div class="col-12 form-group">
        <label for="occupation">Profession</label>
        <input type="text"
               id="occupation"
               name="occupation"
               class="form-control"
               ngModel>
      </div>
    </div>
    <div class="row">
      <div class="col-12 form-group">
        <label for="note">Notes</label>
        <textarea class="form-control"
                  name="note"
                  id="note"
                  rows="3"
                  ngModel></textarea>
      </div>
    </div>
    <div class="row form-footer">
      <div class="col d-flex">
        <button type="submit"
                class="btn btn-primary">
          <i class="fas fa-check"></i><span class="d-none d-sm-inline"> Créer</span>
        </button>
      </div>
      <div class="col d-flex justify-content-center">
        <button type="reset"
                class="btn btn-secondary"
                (click)="onClear(formPerson)">
          <i class="fas fa-trash"></i><span class="d-none d-sm-inline"> Effacer</span>
        </button>
      </div>
      <div class="col d-flex justify-content-end">
        <button type="button"
                class="btn btn-secondary"
                (click)="onPersonEditClick()">
          <i class="fas fa-times"></i><span class="d-none d-sm-inline"> Fermer</span>
        </button>
      </div>
    </div>
  </form>

  <form (ngSubmit)="onFamilySubmit(formFamily)"
        #formFamily="ngForm"
        *ngIf="showFamilyEdit">
    <div class="row">
      <div class="col-12 col-sm-11">
        <h4>Création d'une nouvelle famille</h4>
      </div>
      <div class="col-1 d-none d-sm-inline text-right">
        <a class="btn-close-form"
           (click)="onFamilyEditClick()"><i class="fas fa-times"></i></a>
      </div>
    </div>
    <div class="row">

    </div>
    <div class="row form-footer">
      <div class="col d-flex">
        <button type="submit"
                class="btn btn-primary">
          <i class="fas fa-check"></i><span class="d-none d-sm-inline"> Créer</span>
        </button>
      </div>
      <div class="col d-flex justify-content-center">
        <button type="reset"
                class="btn btn-secondary"
                (click)="onClear(formFamily)">
          <i class="fas fa-trash"></i><span class="d-none d-sm-inline"> Effacer</span>
        </button>
      </div>
      <div class="col d-flex justify-content-end">
        <button type="button"
                class="btn btn-secondary"
                (click)="onFamilyEditClick()">
          <i class="fas fa-times"></i><span class="d-none d-sm-inline"> Fermer</span>
        </button>
      </div>
    </div>
  </form>
</div>
