.cookery-title {
  text-align: center;
  font-variant: small-caps;
  font-weight: bold;
  line-height: calc(12px + 4vh);
  font-size: calc(12px + 4vh);
  height: calc(50px + 10vh);
}

.aa {
  color: darkred;
}

.vl {
  font-weight: normal;
}
