a {
  text-decoration: none;
  cursor: pointer;
}

.navbar {
  z-index: 1000;
  position: fixed;
  width: 100%;
  margin-top: -70px;
  height: 70px;
  background-image: linear-gradient(90deg,black, var(--gray-dark),var(--gray));
}

.nav-brand {
  font-variant: small-caps;
  margin-right: 20px;
}

.nav-link {
  font-variant: small-caps;
  font-size: 1.25em;
  margin-bottom: 8px;
}

.fa-stack {
  font-size: 50%;
  margin-bottom: 5px;
}

.fa-star {
  text-shadow: 0 0 10px white;
}

.fa-bullseye {
  padding-top: 1px;
  color: darkred;
}

.aa {
  color: darkred;
}

.fa-sign-out-alt, .fa-sign-in-alt {
  padding-left: 10px;
}

.vl {
  font-weight: normal;
}