.genealogy-title {
  text-align: center;
  font-variant: small-caps;
  font-weight: bold;
  line-height: 4vh;
  font-size: 4vh;
}

.aa {
  color: darkred;
}

.vl {
  font-weight: normal;
}

input#gedFileInput {
  display:none;
}