<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="genealogy-title text-light">
        Géné<span class="vl">|</span><span class="aa">a</span><span class="vl">|</span>logie
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <label class="btn btn-dark"
             for="gedFileInput">
        <input id="gedFileInput"
               type="file"
               accept=".ged, .GED"
               (change)="onGedFileSelected($event)">
        Charger un fichier .GED
      </label>
    </div>
  </div>
</div>
